.contact {
    max-width: 675px;
    margin: 0 auto;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    height: 90px;
}

.formItem label {
    display: block;
    padding-bottom: 10px;
    color: #888;
    font-size: 1rem;

    font-weight: 600;
    letter-spacing: .0625rem;
    text-transform: uppercase;
}

.input {
    font-size: 1rem;
    padding: 15px;
    height: 15px;
    transition: box-shadow .35s ease, border-color .35s ease;

    border: 1px solid #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 3%);
    font-weight: 300;
    margin-bottom: 10px;
}

.text {
    height: 140px;
}

.formItem textarea {
    height: 50px;
}



.btn button {
    font-size: 1rem;
    padding: 17px 25px;
    background: #4b6cc1;
    border: 2px solid #ffffff;
    border-radius: 1000px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Rubik, sans-serif;
    font-weight: 600;
    text-align: center;

    transition: all .35s ease;

}
.btn button:hover {
    background-color: white;
    border: 2px solid #4b6cc1;
    transform: scale(1.05);

    color: #4b6cc1;
}