.skills {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

.description_block{
    width: 450px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 435px) {
    .description_block {
        justify-content: center;
    }
}