.skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.skills_description {
    width: 500px;
    height: 100%;
}

.skills_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;

}

.skills_item {
    background-color: #4b6cc1;
    width: 500px;
    height: 50px;
    text-transform: uppercase;

    display: flex;
    justify-content: left;
    align-items: center;

    margin-bottom: 30px;
    border-radius: 5px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;

    background-color: #a00b0b;

    border-radius: 5px;
}