body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



p {
  margin-top: 15px;
  line-height: 175%;
  font-weight: 300;
}

h1, h2 {
  font-size: 3rem;
  color: #191a1d;
  font-weight: 400;
  line-height: 120%;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}